<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/stylesOriginaldeverda.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>

<body>

    <!-- CABECERA -->
    <header>
        <div>
            <img id="logo" src="/public/img/HarvestMoonSNES.webp">
            <!--//TODO PONER EL LOGO Y ENLACE -->
            <a href="#">Comunidad Harvest Moon & Story Of Seasons ES</a>
        </div>

    </header>

    <!-- navbar  -->
    <nav>
        <ul>
            <li>
                <a href="#">Inicio</a>
            </li>
            <li>
                <a href="#">Noticias</a>
            </li>
            <li>
                <a href="#">Guías</a>
            </li>
            <li>
                <a href="#">Foro</a>
            </li>
            <li>
                <a href="#">Tienda</a>
            </li>
        </ul>
    </nav>

    <div class="container"></div>
    <main>
        <!-- BARRA LATERAL -->
        <aside>
            <form action="#" method="post">
                <label for="email">Email</label>
                <input type="email" name="email"><br>
                <label for="password">Contraseña</label>
                <input type="password" name="password"> <br>
                <input type="submit" value="Entrar">
            </form>
            <a href="#">Mis Posts</a>
            <a href="#">Gestionar Posts</a>
            <a href="#">Funciones usuario</a>
        </aside>

        <!-- CONTENIDO CENTRAL -->

        <section>
            <article class="post">
                <img src="/public/img/harvest-moon-back-to-nature-png-5.png" />
                <h2>Título Post</h2>
                <p>Fecha</p>
                <p>Contenido</p>
            </article>
            <article>
                <img src="/public/img/harvest-moon-back-to-nature-png-5.png"" />
                <h2>Título Post</h2>
                <p>Fecha</p>
                <p>Contenido</p>
            </article>
            <article>
                <img src="/public/img/harvest-moon-back-to-nature-png-5.png"" />
                <h2>Título Post</h2>
                <p>Fecha</p>
                <p>Contenido</p>
            </article>
        </section>
    </main>
    </div>

    <!-- PIE DE PÁGINA -->
    <footer>
        <p>Gestionado y desarrollado por Mario Medina (Kumiho) &copy;
            <?=date('Y')?>
        </p>
    </footer>

</body>

</html>