<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/styles.css">
    <title>Document</title>
</head>

<body>

    <!-- CABECERA -->
    <header>
        <div>
            <img src="#"> <!--//TODO PONER EL LOGO Y ENLACE -->
            <a href="#">Comunidad Harvest Moon & Story Of Seasons ES</a>
        </div>

    </header>

    <!-- MENÚ  -->
    <nav>
        <ul>
            <li>
                <a href="#">Inicio</a>
            </li>
            <li>
                <a href="#">Noticias</a>
            </li>
            <li>
                <a href="#">Guías</a>
            </li>
            <li>
                <a href="#">Foro</a>
            </li>
            <li>
                <a href="#">Tienda</a>
            </li>
        </ul>
    </nav>


    <!-- BARRA LATERAL -->
    <aside>
        <form action="#" method="post">
            <label for="email">Email</label>
            <input type="email" name="email">
            <label for="password">Contraseña</label>
            <input type="password" name="password">
            <input type="submit" value="Entrar">
        </form>
        <a href="#">Mis Posts</a>
        <a href="#">Gestionar Posts</a>
        <a href="#">Funciones usuario</a>
    </aside>

    <!-- CONTENIDO CENTRAL -->
    <main>
        <section>
            <article>
                <img src="#" />
                <h2>Título Post</h2>
                <p>Fecha</p>
                <p>Contenido</p>
            </article>
            <article>
                <img src="#" />
                <h2>Título Post</h2>
                <p>Fecha</p>
                <p>Contenido</p>
            </article>
            <article>
                <img src="#" />
                <h2>Título Post</h2>
                <p>Fecha</p>
                <p>Contenido</p>
            </article>
        </section>
    </main>

    <!-- PIE DE PÁGINA -->
    <footer>
        <p>Gestionado y desarrollado por Mario Medina (Kumiho) &copy; <?=date('Y')?></p>
    </footer>

</body>

</html>